.featured_info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}
.featured_info-container div {
  flex: 1;
  min-width: 250px;
}

.featured_wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.featured_subtitle {
  font-size: var(--size-sm);
  color: var(--clr-indigo);
  text-transform: capitalize;
  font-weight: 400;
}

.featured_title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  text-transform: uppercase;
}

.featured_link {
  width: var(--size-2xl);
  height: var(--size-2xl);
}
.featured_description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  margin: 1rem 0;
}
.featured_label {
  font-size: var(--size-sm);
  color: var(--clr-slate400);
  text-transform: capitalize;
  margin: 0.7rem;
}

.featured_tech-stack {
  display: block;
  flex-wrap: wrap;
  gap: 0.75rem;

}

.featured_info {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1e293b; /* Adjust for light theme if needed */
  padding: 0.3rem 0.9rem;
  border-radius: 9999px;
  font-size: var(--size-sm);
  color: #94a3b8;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 1px var(--clr-slate600);
  cursor: default;
  margin: 0.25rem; /* Adds spacing between items */
  text-transform: capitalize;
  text-align: center;
}

.featured_info:hover {
  background-color: var(--clr-slate700);
  box-shadow: 0 0 10px var(--clr-indigo);
  transform: translateY(-2px);
}

/* For proper wrapping in tech stack */
.featured_tech-stack {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}



.featured_image-wrapper::after {
  content: "";
  
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.3s ease;
  /* border: 2px solid var(--clr-rose); */
  border-radius: 20px;
}

.featured_image-wrapper {
  position: relative;
}

.featured_image-wrapper:hover::after {
  background-color: rgba(79, 70, 229, 0.1);
}

.feature_image-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}




/* xs */
@media (min-width: 475px) {
  .featured_subtitle {
    font-size: var(--size-base);
  }
  .featured_title {
    font-size: var(--size-3xl);
  }
  .featured_link {
    width: var(--size-3xl);
    height: var(--size-3xl);
  }
  .featured_description {
    font-size: var(--size-base);
    margin: 1.5rem 0;
  }
  .featured_label {
    font-size: var(--size-lg);
  }

  .featured_info {
    font-size: var(--size-base);
  }
  .feature_image-container {
    margin-top: 1.5rem;
    grid-gap: 1.5rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .feature_image-container {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 1rem;
  }
}

/* md */
/* @media (min-width: 768px) {
  } */

/* lg */
@media (min-width: 1024px) {
  .featured_subtitle {
    font-size: var(--size-lg);
  }
  .featured_title {
    font-size: var(--size-4xl);
  }
  .featured_link {
    width: var(--size-4xl);
    height: var(--size-4xl);
  }
  .featured_description {
    font-size: var(--size-lg);
  }
  .featured_label {
    font-size: var(--size-xl);
  }
  .featured_info {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .featured_subtitle {
    font-size: var(--size-xl);
  }
  .featured_title {
    font-size: var(--size-5xl);
  }
  .featured_link {
    width: var(--size-5xl);
    height: var(--size-5xl);
  }
  .featured_description {
    font-size: var(--size-xl);
    margin: 2rem 0;
  }
  .featured_label {
    font-size: var(--size-2xl);
  }
  .featured_info {
    font-size: var(--size-xl);
  }
  .feature_image-container {
    margin-top: 2rem;
    grid-gap: 2rem;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
  } */



  @media (max-width: 639px) {
.featured_image-wrapper{
  max-width: 93%;
}
  }